*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(images/image1.jpg);
    background-size: cover;
    dhfjksdfkjsdk
}
.header{
    position: relative;
    width: 200%;
    height: 10px;
}
nav {
    background-color: aqua;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    justify-content: space-between;
}
p{
    font-family: Wide Latin;
     margin-left: 6px;
}
img{
    height: 50px;
    width: 50px;
}
nav ul li{
    display: inline-block;
    text-decoration:underline;
    margin-left: 8px;
    margin-right:4px ;
    position: sticky;
    top:o;
}
.profile{
    margin-top: 80px;

    
}
.img2{
    height: 500px;
    width: 500px;
    image-orientation: flip;

}
footer{
    background-color: cadetblue;
    margin-top: 150px;
}